:root {
  --choice-color: #2ec4b6;
  --background-color: #f7fdfc;
  --text-color: #000000;
  /* --font-family: 'Sofia Pro', sans-serif; */
}
body {
  margin: 0;
  font-family: 'Sofia Pro', sans-serif;
  color: var(--text-color);
}

.main-container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

#heading {
  font-size: 3em;
}

.text-section > p {
  line-height: 1.5;
  font-size: 1.2em;
  color: #777;
}

.form-section {
  margin: 50px;
  box-shadow: 2px 3px 5px;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 40px 30px;
  width: 25%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  

}

.user-input {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-weight: 600;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #ebe4e4;
  font-size: 1em;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-row > div {
  flex: 1;
}

/* .select-group {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    padding-right: 30px;
} */

button {
  background-color: var(--choice-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
}

button:hover {
  background-color: #1c7a71;
}

#privacy-terms {
  margin-top: 15px;
  font-size: 0.8em;
  text-align: center;
}

#privacy-terms a {
  color: var(--choice-color);
}

.user-password {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #777;
  cursor: pointer;
}

.password-toggle-icon:hover {
  color: var(--choice-color);
}

